page-login {


  .masters{
    background-color: #c2eee7;

  }

  #rounded {

    outline-color: #c2eee7;
    outline-width: 10px;
    color: #black;
    width: 100%;
    height: 10px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 400px;
    margin-bottom: 5px;


  }

  #container {

    background-color: #ffc89f;
    margin-left:auto;
    margin-right: auto;
    width: 95%;
    height: 320px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 20px;


  }

  #buttons {


    width: 85%;
    right: -20px;

    outline-color: black;


  }

  #text {

    color: white;

  }



}
