<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stockholm Ljuslek</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<!--
  &lt;!&ndash;Welcomes the user; else shows login-buttons&ndash;&gt;

  <ion-card *ngIf="userIsLoggedIn; else showLogin">
    <ion-card-header>Välkommen {{ userData.first_name}}!</ion-card-header>
    <img [src]="userData.picture">
    <button ion-button full (click)="logoutFromFB()">Logga ut</button>
  </ion-card>

  <ng-template #showLogin>
    <ion-card-header>Välkommen till vår app!<br>
      Var vänlig att logga in: </ion-card-header>
    <button ion-button full (click)="loginWithFB()">Logga in med Facebook</button>
    <br>
    <button ion-button>Logga in med annat konto</button>
    <br>
    <button ion-button full (click)="hasha()">Registrera konto</button>
  </ng-template>-->

    <form #loginForm="ngForm" autocomplete="off">

          <ion-list inset>

            <ion-item>
              <ion-input placeholder="E-post adress" name="username" id="loginField" type="username" required [(ngModel)]="mail" #email></ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Lösenord" name="password" id="passwordField" type="password" required [(ngModel)]="password"></ion-input>
              <ion-icon name="help-circle"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-label>Kom ihåg</ion-label>
              <ion-checkbox checked="false"></ion-checkbox>
            </ion-item>

          </ion-list>
       <!-- </ion-col>
      </ion-row>-->
      <ion-row>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid" (click)="login()">Logga in</button>
      </ion-row>

        <ion-title>eller</ion-title>


        <button ion-button full color="light" (click)="loginWithFB()">Logga in med Facebook</button>

        <ion-footer padding>

            <ion-title>Inget konto?</ion-title>

          <button ion-button full color="primary" (click)="registerAccount()">Registrera dig</button>

        </ion-footer>






    </form>


  <ion-footer padding>

    <ion-title>Inget konto?</ion-title>

    <button ion-button full color="primary" (click)="registerAccount()">Registrera dig</button>

  </ion-footer>












</ion-content>
