page-game-info {
  .progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 40px;
  }

  .current {
    position: fixed;
    color: black;// #bbb;
    font-weight: 100;
    line-height: 1;

  }

  .scroll-content {
    overflow-y: hidden;
  }

  .rules{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
  }


}
