:root {
  --ruleColor: aliceblue;
  --startStopHeightPadding :90px;
  /* @reasonCode green */
}
page-game-info {

  .progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 40px;
  }

  .current {
    z-index: +1;
    position: absolute;
    color: white;// #bbb// ;
    //font-weight: 100;
    //line-height: 1;
    margin:auto
  }
  .button{
    border: none;
    color: white;
    padding: 20px;
    padding-top: var(--startStopHeightPadding);//90px;
    height: 152px;
    width:152px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  .startandstop{
    position: absolute;
    bottom: 10px;
    left: 12px;

    //width: 90px;

    //border: #2d2d2d;
    //border-style: dashed;
  }
  .startandstop2{
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  .testdiv{
    position: absolute;
    left: 48%;
    bottom: 100px;
    //border: #2d2d2d;
    //border-style: dashed;
  }

  .roundprogressbar{
    position: relative;
    width: 100%;
    top: 0;
    left: 23%;
    color: black;// #bbb;
    //font-weight: 100;
    //line-height: 1;
    //text-align: left;
    //border: #2d2d2d;
    //border-style: dashed;
  }
  .scroll-content {
    overflow-y: hidden;
  }

  .rules{
    text-align: left;
    text-justify: inter-word;
    font-size: 20px;
  }

  #ruleCard{
    background-color: var(--ruleColor);//aliceblue;
    font-size: 16px;
    padding: 10px;
  }

}
